* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("..//img/pacific-ocean-nature-beach-stormy-beaches-92i8.jpg") center center/cover no-repeat;
  min-height: 754px;
}

.questions .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.questions .container .questions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions .container .questions__wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions .container .questions__wrapper .logo__img {
  width: 114px;
  height: 103px;
}

.questions .container .questions__wrapper .logo__title {
  margin-top: 30px;
  color: #333333;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
}

.questions .container .questions__wrapper .nav ul {
  list-style: none;
}

.questions .container .questions__wrapper .nav ul .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions .container .questions__wrapper .nav ul .nav__list-item {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  padding: 24px 10px 20px;
  color: #333333;
  margin: 0 6px;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.questions .container .questions__wrapper .nav ul .nav__list-item:hover {
  border-bottom: 2px solid #00A4E5;
}

.questions .container .questions__select {
  margin-top: 30px;
}

.questions .container .questions__select .select {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 47px;
  border: 2px solid;
  cursor: pointer;
}

.questions .container .questions__select .select__value {
  font-size: 15px;
}

.questions .container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: start; /* */
  align-items: center; /* */
  width: 1176px;
  height: 560px;
  margin-top: 50px;
  border-radius: 3px; /* */
  background-color: #ffffff;
}

.project__question-block { /* */
  display: flex;
  min-width: 1174px;
  max-height: 160px;
  margin-top: 1px;
  border-radius: 3px;
  border: 1px solid rgb(215, 215, 215);
} /* */

.project__answer {
  margin: 10px 0 5px 0;
}

.questions .container .project__img {
  width: 65px;
  height: 75px;
  margin-top: 20px;
  margin-left: 15px;
}

.questions .container .project__item {
  margin-left: 25px;
  margin-top: 20px;
}

.questions .container .project__item .project__title {
  color: #48555B;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.questions .container .project__item .project__text {
  margin-top: 15px;
  font-size: 13px;
  line-height: 23px;
  color: #48555B;
}
