* {
    box-sizing: border-box;
}
.about__hidden {
    .about__modal {
        width: 400px;
        height: 320px;
        background-color: rgb(156, 210, 247);
        border: 2px solid #000000;
        .about__modal-window {
            width: 300px;
            height: 250px;
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            text-align: center;
            .about__modal-question {
                margin: 5px 0;
                font-size: 18px;
                font-weight: 600;
            }
            .about__modal-input {
                background-color: rgb(156, 210, 247);
            max-width: 250px;            
        }
            .about__modal-radio {
                margin: 10px 5px;
            }
            .about__modal-checkbox { 
                margin: 10px 5px;              
            }
            .about__modal-btn {
               margin: 20px 0;
               .about__modal-button1,.about__modal-button2 {
                   width: 120px;
                   height: 25px;
                   border: 1px solid #000000;
                   background-color: #00a4e596;
               }
               .about__modal-button2 {
                   margin-left: 10px;
               }
            }
        }
    }
}